.container {
   max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #7d97ad
}
.title {
  margin-right: 2em;
}
.name {
  font-family: 'Text Me One', sans-serif;
  font-size: 55px;
  margin: 0;
  }
.ninja {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: right;
}
.banner {
  margin-top: 2em;
}
.samples {
	color: #7d97ad;
	font-size: 2em;
	margin: 1em 0.3em;
}

